<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data available</title>
    <p>Click buttons below to see up-to-date graphs for each dataset</p>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Labour Force Data (ABS)</h1>
    <form action="/labourForce">
        <button type="submit">See Labour Force Data</button>
    </form>
    <h1>Credit Aggregates Data (RBA)</h1>
    <form action="/creditAggregates">
        <button type="submit">See Credit Aggregates Data</button>
    </form>
    <h1>Lending Indicators Data (ABS)</h1>
    <form action="/lendingIndicators">
        <button type="submit">See Lending Indicators Data</button>
    </form>
    <h1>Household Spending Indicator Data (ABS)</h1>
    <form action="/householdSpendingIndicator">
        <button type="submit">See Household Spending Indicator Data</button>
    </form>

    </body>
    </html>