<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data available</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Labour Force Data</h1>
    <form action="/labourForce">
        <button type="submit">See Labour Force Data</button>
    </form>
    <h1>Credit Aggregates Data</h1>
    <form action="/creditAggregates">
        <button type="submit">See Credit Aggregates Data</button>
    </form>

    </body>
    </html>